{% extends "base.html" %}

{% comment %}
	Written by Bill Rideout brideout@haystack.mit.edu
	
	Final template for Madrigal homepage
	
	$Id: index.html 7133 2020-07-02 13:16:56Z brideout $
{% endcomment %}

{% block title %}Madrigal database at {{site_name}}{% endblock %}



{% block content %}

   <div class="well">
    <center><h3>{{welcome}}</h3></center>
    
    <p>Madrigal is an upper atmospheric science database used by groups throughout the world.
    Madrigal is a robust, World Wide Web based system capable of managing
	and serving archival and real-time data, in a variety of formats, from
	a wide range of upper atmospheric science instruments.
	Data at each Madrigal site is locally 
	controlled and can be updated at any time, but shared metadata between Madrigal
	sites allow searching of all Madrigal sites at once from any Madrigal site.</p>

	<p>To see a list of all Madrigal sites, use the <i>Other Madrigal sites</i> pull down menu. 
	Data can also be accessed
	directly, using <a href="{% url 'docs' 'rt_contents.html' %}">APIs</a> which are available for several popular
	programming languages (Matlab, python, and IDL). A Subversion archive of all Madrigal software and
	documentation is available from the 
	<a href="http://cedar.openmadrigal.org/openmadrigal">Open Madrigal</a> Web site.
	The latest version of Madrigal and the remote API's may also be downloaded from there.</p>
	
	<p>The CEDAR Madrigal database architecture and implementation <a href="http://cedar.openmadrigal.org/static/siteSpecific/Madrigal_FAIR.pdf">meets and exceeds FAIR guiding principles</a> in all aspects.</p>
	
	<p>To cite the entire CEDAR Madrigal Database use:</p>

	<p><pre>Rideout W., Cariglia K. CEDAR Madrigal Database URL: http://cedar.openmadrigal.org</pre></p>

	<p>To cite Madrigal server software use:</p>

	<p><pre>Rideout W., Cariglia K. Openmadrigal URL: http://cedar.openmadrigal.org/openmadrigal</pre></p>

	<p>To cite individual files, see the <strong>Cite this file</strong> button on each experiment page.  To cite groups of files,
	see the <a href="http://cedar.openmadrigal.org/docs/name/rt_python.html#globalCitation">Global Citation documentation</a></p>

	<!-- This html comment exists simply to support the old remote API's: "/accessData.cgi -->
</div>
{% endblock %}


{% block footer %}
	    <footer class="row">
	        <p class="text-success">{{rulesOfRoad}}</p>
	    </footer>
{% endblock %}
