{% comment %}
	Written by Bill Rideout brideout@haystack.mit.edu
	
	Template for list_records ajax response
	
	$Id: list_records.html 5039 2015-05-18 20:00:27Z brideout $
{% endcomment %}
                    <!-- show is its own row in main column -->
					<div class="row">
						<div class="panel panel-default">
							<div class="panel-body box">
							<pre>{{ text|safe }}
							</pre>
							</div>
						</div>
					</div> <!-- end row -->
					
					<script>
					function plotRecno(recno)
					{
					    var url = '{% url 'view_record_plot' %}' + '?expDir={{expDir}}&basename={{basename}}&recno=';
					    url = url + recno.toString();
					    window.open(url);
					}
					</script>
					
					
					
