{% extends "base.html" %}

{% comment %}
	Written by Bill Rideout brideout@haystack.mit.edu
	
	Base template for Looker Field Line From Radar Form
	
	$Id: looker_field_line_from_radar.html 5332 2015-09-25 19:45:35Z brideout $
{% endcomment %}

{% block title %}Madrigal looker{% endblock %}
	
{% block content %}
<form method=get>
{{ form.looker_options }}
<div align=center>
<h4>Field Line Coordinates Given Azimuth, Elevation, Range</h4>
</div>
<p>Select an instrument location, either by selecting an existing instrument or by
directly entering the latitude, longitude and altitude of the instrument. 
Then specify an azimuth, elevation and range to a field line on which geodetic and geomagnetic coordinates will be calculated. 
The epoch for which the IGRF geomagnetic coordinates will be calculated may also be specified.</p>
        
<table class="table table-condensed">
	<tr>
		<td>
		    <table class="table table-condensed">
			<caption>
			Choose an existing instrument, or ...
			</caption>
			<tr><td>{{form.instruments}}</td></tr>
			</table>
		</td>
		<td>
			<table class="table table-condensed">
			<caption>
			... set your own instrument coordinates
			</caption>
			<tr>
			<td>Latitude</td>
			<td>
				{{form.inst_lat}}
			</td>
			</tr>
			<tr>
			<td>Longitude (-180 - 180)</td>
			<td>
			    {{form.inst_lon}}
			</td>
			</tr>
			<tr>
			<td>Altitude (km)</td>
			<td>
			    {{form.inst_alt}}
			</td>
			</tr>
			</table>
	</tr>
	
	<tr>
		<td>
			<table class="table table-condensed">
			<caption>
			Field line coordinates
			</caption>
			<tr>
			<th align=center>Azimuth</th>
			<th align=center>Elevation</th>
			<th align=center>Range(km)</th>
			</tr>
			<tr>
				<td>
				  {{form.fl_az}}
				</td>
				<td>
				  {{form.fl_el}}
				</td>
				<td>
				  {{form.fl_range}}
				</td>
			</tr>
			</table>
		</td>
		<td style="vertical-align:middle" align="center">
		    Geomagnetic field epoch: {{form.year}}
		</td>
	</tr>
	
	<tr>
		
		<td style="vertical-align:middle" align="center">
		<table class="table table-condensed">
			<caption>
			Altitudes along field line
			</caption>
			<tr>
			<th align=center>Start</th>
			<th align=center>Stop</th>
			<th align=center>Step(km)</th>
			</tr>
			<tr>
			<td>
			  {{form.start_alt}}
			</td>
			<td>
			  {{form.stop_alt}}
			</td>
			<td>
			  {{form.step_alt}}
			</td>
			</tr>
			</table>
		</td>
		<td style="vertical-align:middle" align="center"><button class="btn btn-primary" id="looker_field_line_from_radar" data-toggle="tooltip" data-original-title="Click this button to calculate points along a field line including radar pointing." data-placement="top">Calculate</button></td>
		</td>
    </tr>

</table>
</form>
	
	
	<script>
		$('#looker_field_line_from_radar').on('click', function (e) {
		    if (!validateForm(this.form))
		        return(false);
			this.form.action = "{% url 'looker_output' %}";
			this.form.submit();
		})
		
		function validateForm(madForm)
		{
{% include "madweb/validate_kinst_location.html" %}
{% include "madweb/validate_fl_radar_point.html" %}
{% include "madweb/validate_alt_grid.html" %}
{% include "madweb/validate_year.html" %}

			// passed all tests
			return(true);
		}
	</script>
{% endblock %}