<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Madrigal documentation - v3.0</title>
<link href="/static/madrigal.css" rel="stylesheet" type="text/css" />
<style type="text/css">
	html body {
		background-color: {{bg_color}};
	}
</style>
</head>

<body>
<center>
  <h1>Madrigal Database v3.2.9 Documentation - Contents</h1>
  <table width="100%" border="1">
    <tr>
      <td class="navigation"><a href="/">Home</a></td>
    </tr>
  </table>
</center>
<hr size="4" />
<a href="https://www.youtube.com/playlist?list=PL1RuG8I4KhKYtbmLodBsmwxXuBgBHduwQ"><strong>Three ~10 minute YouTube videos on using Madrigal</strong></a>
<ul>
  <li><a href="{% url 'docs' 'madIntroduction.html' %}">1. Brief history of Madrigal</a></li>
</ul>
<ul>
  <li><a href="{% url 'docs' 'whatsNew.html' %}">2. What's new in Madrigal 3.2.9</a></li>
</ul>
<ul>
  <li><a href="{% url 'docs' 'wt_usersGuide.html' %}">3. Madrigal user's guide (How do I access Madrigal data?) </a>
    <ul>
      <li><a href="{% url 'docs' 'wt_contents.html' %}">2.1 Web interface tutorial </a></li>
      <li><a href="{% url 'docs' 'rt_contents.html' %}">2.2 Remote data access programming tutorial</a></li>
      <li><a href="{% url 'docs' 'rr_contents.html' %}">2.3 Remote data access programming reference guide</a></li>
    </ul>
  </li>
</ul>
<ul>
  <li><a href="{% url 'docs' 'admin.html' %}">4. Madrigal Administrator's Guide</a></li>
</ul>
<ul>
  <li><a href="{% url 'docs' 'dev_contents.html' %}">5. Madrigal Developer's Guide</a></li>
</ul>
<ul>
  <li><a href="{{ siteSpecific }}">6. Site specific documentation</a></li>
</ul>
<p>&nbsp;</p>
</body>
</html>
